<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }
        .container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
        }
        .form-wrap {
            background-color: #fff;
            padding: 15px;
            border-radius: 10px;
            margin-top: 100px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        }
        .form-wrap h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        .form-wrap input[type="password"] {
            width: 96%;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid #ddd;
        }
        .form-wrap button[type="submit"] {
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="form-wrap">
            <h1>Set a New Password</h1>
            {{#if message}}
                <div style="color: red; margin-bottom: 15px;">
                    {{message}}
                </div>
            {{/if}}
            <form method="post" action="/reset-password/{{key}}">
                <input type="password" name="newPass" placeholder="New Password" required>
                <input type="password" name="confirmPass" placeholder="Confirm Password" required>
                <button type="submit">Set New Password</button>
            </form>
        </div>
    </div>
</body>
</html>