<!DOCTYPE html>
<html>
<head>
    <title>Update Station</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        form {
            width: 300px;
        }
        label {
            display: block;
            margin: 10px 0;
        }
        input[type="number"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
        input[type="submit"] {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #3d6383;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        input[type="submit"]:hover {
            background-color: #4c84a4;
        }
    </style>
</head>
<body>
    <h1>Update Station</h1>
    <form action="/admin/{{users.username}}/update-station/{{userId}}" method="POST">
        <label for="stationId">Station ID:</label>
        <input type="number" id="stationId" name="stationId">

        <input type="hidden" id="csrfToken" name="csrfToken" value="{{csrfToken}}" />
        <input type="submit" value="Update Station">
    </form>
</body>
</html>
